{%extends 'base.html'%}
{% load staticfiles%} 
{% load bootstrap3 %} 
{%block content%}
<head>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
        <link href="../static/css/aos.css"rel="stylesheet"type="text/css">
        <script src="bower_components/aos/dist/aos.js"></script>
        <script src="../static/js/aos.js" charset="utf-8"></script>
</head>
<body style="background-color: black;font-family:'Raleway', sans-serif;">
    <div class="container-fluid">
    <div data-aos="fade-down" data-aos-duration="1300" class="container-fluid" style="border-radius:25px;background-image: url('https://images.pexels.com/photos/298863/pexels-photo-298863.jpeg?auto=compress&cs=tinysrgb&h=350');background-repeat: no-repeat;background-size:200vh">
        <div data-aos="fade-up" data-aos-duration="1600" style="border-radius:25px;margin:20%;text-align: center;opacity:0.6;"class="well">
            <h1 style="text-decoration:underline">Casual Shoes</h1>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="1500" class="container-fluid" style="margin-top:1%;border-radius:25px;margin-right:30%;background-image: url('https://images.pexels.com/photos/415261/pexels-photo-415261.jpeg?auto=compress&cs=tinysrgb&h=350');background-repeat: no-repeat;background-size:200vh">
        <div data-aos="fade-up-left" data-aos-duration="1300" style="border-radius:25px;margin:20%;text-align: center;opacity:0.6;"class="well">
            <h1 style="text-decoration:underline">Training Shoes</h1>
        </div>
    </div>
    <div data-aos="fade-left" data-aos-duration="1300" style="border-radius:25px;margin-right:-0.6%;float:right;width:29%;padding:5%;text-align:center;margin-top:-33%;background-color: whitesmoke;"class="container">
            <h1></h1>
        </div>
    <div data-aos="fade-up" data-aos-duration="1300" class="container-fluid" style="margin-top:1%;border-radius:25px;background-image: url('https://images.pexels.com/photos/631988/pexels-photo-631988.jpeg?auto=compress&cs=tinysrgb&h=350');background-repeat: no-repeat;background-size:200vh">
            <div data-aos="fade-down-right" data-aos-duration="1300" style="border-radius:25px;margin:20%;text-align: center;opacity:0.6;"class="well">
                <h1 style="text-decoration:underline">Hiking Shoes</h1>
            </div>
        </div>
        <div data-aos="fade-down" data-aos-duration="1300" style="margin-left:30%;margin-right:30%;margin-top:1%;text-align:center;opacity:0.7;" class="well">
            <h1 style="text-decoration:underline;">TRENDING.</h1>
        </div>
{% for images_item in images %}
        <div data-aos="fade-left" data-aos-duration="1300"style="background-color:whitesmoke;padding:1.5%;border-radius:15px;opacity:0.7;margin-right:70%;width:1500px;padding-bottom:2%;" class="container">
                <h1 style="padding-left:5px;padding-right:20px;margin-top:-10px;margin-bottom:-13px;font-weight:bolder;"><img style="width:100px;height:90px;border-radius:118px" src="{{images_item.profile.profile_pic.url}}">{{images_item.profile.name}}</h1>
            <img  style="margin-left:41%;width:60%;height:580px;margin-top:-4%;border-radius:20px;" src="{{images_item.picture.url}}">
            <h1 style="color:black;margin-top:-33%;margin-right:60%;text-decoration: underline">{{images_item.name}}.</h1>
            <hr>
            <h2 style="color:black;margin-top:-1%;margin-right:60%;">{{images_item.post_caption}}.</h2>
            <br>
            <h1 style="color:black;margin-top:-1%;margin-right:60%;text-decoration: underline">Brand.</h1>
            <h2 style="color:black;margin-top:0%;margin-right:60%;">{{images_item.brand.brand_name}}.</h2>
            <br>
            <h1 style="color:black;margin-top:-1%;margin-right:60%;text-decoration: underline">Price.</h1>
            <h2 style="color:black;margin-top:0%;margin-right:60%;">{{images_item.price}} kshs.</h2>
            <br>
            <h1 style="color:black;margin-top:-1%;margin-right:60%;text-decoration: underline">Release Date.</h1>
            <h2 style="color:black;margin-top:0%;margin-right:60%;">{{images_item.released}}.</h2>
        </div>
        <br>
        <br>
        <br>
{% empty %}
        <div style="background-color:whitesmoke;padding:1.5%;border-radius:15px;opacity:0.7;margin-right:70%;width:800px;padding-bottom:11%;margin-left:51.5%;margin-top:-21%;" class="container">
                <img  style="margin-left:41%;width:60%;" src="https://images.pexels.com/photos/47220/shoes-pregnancy-child-clothing-47220.jpeg?auto=compress&cs=tinysrgb&h=350">
                <h2 style="color:black;margin-top:-40%;">Maybe you would<br> like these shoes<br> at this price<br>location is discrete</h2>
            </div>
{% endfor %}
    </div>
</div>
</body>
<script>
        AOS.init();
      </script>
{% endblock %}