<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:whitesmoke;opacity:0.5;">

    <div class="navbar-right" style="margin-top:0.8%;margin-bottom:0.3%;margin-right:1%;">
       
        <a style="color:black;font-family: sans-serif;font-size:20px;" href="/accounts/password/change">Change Password</a>
        <a style="color:black;font-family: sans-serif;font-size:20px;" href="/accounts/login">Logout</a>


      </div>
</nav>
</body>
</html>