{% load bootstrap3 %}
{% block content %}
<body style="background-color:black;">
    <div class="container-fluid">
        <div class="container">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/1054787/pexels-photo-1054787.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/250356/pexels-photo-250356.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/786003/pexels-photo-786003.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/345415/pexels-photo-345415.jpeg?auto=compress&cs=tinysrgb&h=350">
        </div>
        <div class="container">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/772943/pexels-photo-772943.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/1018483/pexels-photo-1018483.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/631988/pexels-photo-631988.jpeg?auto=compress&cs=tinysrgb&h=350">
            <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/889503/pexels-photo-889503.jpeg?auto=compress&cs=tinysrgb&h=350">
        </div>
        <div class="container">
                <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/812871/pexels-photo-812871.jpeg?auto=compress&cs=tinysrgb&h=350">
                <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/684152/pexels-photo-684152.jpeg?auto=compress&cs=tinysrgb&h=350">
                <img style="width:24.8%;height:270px;"src="https://images.pexels.com/photos/233312/pexels-photo-233312.jpeg?auto=compress&cs=tinysrgb&h=350">
                <img style="width:24.8%;height:270px;"src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1466616199000/photosp/3f0baf50-89e8-4d22-af85-a0063621a831/stock-photo-turtledove-streetphotography-adidas-streetshot-hypebeast-streetsnap-highsnobiety-moonrock-yeezyboost-3f0baf50-89e8-4d22-af85-a0063621a831.jpg">
            </div>
    </div>
</body>
{% endblock %}